.under_T {
    text-decoration: underline rgb(146, 146, 146);
  }

.under_1 {
  text-decoration: underline rgb(253, 154, 154);
}

.under_2 {
  text-decoration: underline rgb(255, 208, 137);
}

.under_3 {
  text-decoration: underline rgb(197, 255, 132);
}

.under_4 {
  text-decoration: underline rgb(156, 181, 255);
}

.under_5 {
  text-decoration: underline rgb(218, 178, 255);
}